{% extends "base.html" %}

{% block title %}Registration{% endblock %}


{% block body %}
<h1> Job Application </h1>
<h2> Register For Job </h2>
    <form method="post" action={% url "form_data"  %}>
        {% comment %} <div class="components" id="0">
            <h3>Basic Details</h3>
                {% csrf_token %}
                {{form}}
        </div>
        
        <div class="components" id="1">
            <h3>Education</h3>
            <div class="comformEdu">
            {{education_form}}
            </div>
        </div>
       
        <div class="components" id="2">
            <h3>Experience</h3>
            <div class="comformWork">
            {{work_experience_form}}
            </div>
        </div>

        <div class="components" id="3">
            <h3>Langauage</h3>
            <div class="comformLanguage">
                {{languages_form}}
            </div>

        </div>
                
        <div class="components" id="4">
            <h3>Techonology</h3>
                <div class="comformTechno">
                    {{technology_form}}
                </div>
        </div>

        <div class="components" id="3">
            <h3>References</h3>
            <div class="comformRefrence">
            {{reference_form}}
            </div>
        </div>

        <div class="components" id="4">
            <h3>Preferences</h3>
            <div class="comform">
            {{preference_form}}
            </div>
        </div>

        <input type="submit">
    </form>

<div id="navbtns">
    {% comment %} <p id="previous">Previous</p> {% endcomment %}
    <p id="next">Next</p>
    <span id="errmsg"></span>
</div>
{% endblock %}